<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ t._('Settings Dependency Fields') }}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url('/') }}"><i class="fa fa-dashboard"></i> {{ t._('Home') }}</a></li>
        <li><a href="{{ url('/settings') }}"><i class="fa fa-gear"></i> {{ t._('Settings') }}</a></li>
        <li><a href="{{ url('/settings/dpfields') }}"><i class="fa fa-legal"></i> {{ t._('Dependency Fields') }}</a></li>
        <li class="active">{{ t._('Edit Dependency Fields') }}</li>
    </ol>
</section>

<section class="content" id="dependency-fields-content">
    <form action="{{ url('/settings/dpfields_edit/' ~ id) }}" method="post" class="form-horizontal">
        <input type="hidden" name="dpfield_id" value="{{ id }}" id="dpfield_id">
        <input type="hidden" name="dpfield_type" value="{% if setting %}{{ setting['type'] }}{% endif %}" id="dpfield_type">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Type') }}</label>
                            <div class="col-sm-10">
                                <select name="type" v-model="type" v-on:change="resetData()" class="form-control">
                                    <option value="select">{{ t._('DropDown List') }}</option>
                                    <option value="dbselect">{{ t._('DropDown Database List') }}</option>
                                    <option value="relate">{{ t._('DropDown Relate List') }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Choose Model') }}</label>
                            <div class="col-sm-10">
                                {{ select('model_name', models, 'class': 'form-control', 'v-model': 'model_name', 'v-on:change': 'getSelectFields()') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Choose Source') }}</label>
                            <div class="col-sm-10">
                                <select name="source_name" class="form-control" v-model="source_name" v-on:change="getSourceValues()">
                                    <option v-for="(options, select_field) in select_fields" v-bind:value="select_field">{{ '{{ select_field }}' }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Choose Target') }}</label>
                            <div class="col-sm-10">
                                <select name="target_name" class="form-control" v-model="target_name" v-on:change="getTargetValues()">
                                    <option v-for="(options, select_field) in select_fields" v-bind:value="select_field">{{ '{{ select_field }}' }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Choose Source Value') }}</label>
                            <div class="col-sm-10">
                                <select name="source_value" class="form-control" v-model="source_value">
                                    <option v-for="value in source_values" v-bind:value="value.id">{{ '{{ value.name }}' }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ t._('Choose Target Value') }}</label>
                            <div class="col-sm-10">
                                <select2 :options="target_values" v-model="target_value"></select2>
                                <script type="text/x-template" id="select2-template-target_value">
                                    <select name="target_value[]"
                                            multiple="multiple"
                                            class="form-control"
                                            data-placeholder="{{ t._('Target Value') }}"></select>
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button id="submit-button" type="submit" class="btn btn-info" name="submit" style="margin-right: 5px;">{{ t._('Save') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
